year-3/internet-technologies/task-2/klientai.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://puskunalis.lt/bankas/xml/klientai"
           xmlns="http://puskunalis.lt/bankas/xml/klientai"
           elementFormDefault="qualified">

    <xs:simpleType name="ibanT">
        <xs:restriction base="xs:string">
            <xs:pattern value="LT\d{18}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="klientas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vardas" type="xs:string" />
                <xs:element name="pavarde" type="xs:string" />
                <xs:element name="gimimo-data" type="xs:date" />
                <xs:element name="saskaitos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="saskaita" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="iban" type="ibanT" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" />
        </xs:complexType>
    </xs:element>
</xs:schema>
